/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Ubuntu:wght@300;400&display=swap');
 */


/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Navbar */

:hover.navbar-brand{
color: #385f8e;
}


.navbar{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    line-height: 26px;
    box-shadow: 0 2px 5px #131921;    
}

:hover.nav-link  {
    transition: 0.1s; 
    padding: 5px;
    color: 
    #18202a;   
}

.navbar-brand{
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-left: 5px;   
}
/* *****************************footer*************************************** */

.footer{
color: white;
padding: 25px;
background-color: #131921;
}   


.footer a{
    text-decoration: none;
    color: white;
    padding: 10px ;
    background-color: #131921;
    }   

.footer a:hover {
 color: 
 #007185;
 border-bottom: 1px solid white;

 }

 /* ******************************Pages*************************************** */

 .PageNotFound {
    background-image: url("../public/license-pic/5203299.jpg");
    background-size: 750px;
    background-repeat: no-repeat;
    height: 74vh;
    width: 100%;
color:#18202a;
} 

.PageNotFound-content{
    position: relative;
    left: 300px;
    top:35%;
    text-align: center;
}
.PageNotFound-title {
    font-size: 60px;
    font-weight: 700;
    
}

.PageNotFound-btn{
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 8px;
    margin-top: 8px;
    border-radius: 15%;
}
    
.PageNotFound-btn:hover {
    background-color :#18202a;
    color: white;
  }
 